/node_modules
/dist
/build
/.env
/.DS_Store

/.vscode
/.idea
/.cache
/.next
/.nuxt
/.sass-cache
/.tmp
/.yarn
/.pnp
/.yarn-cache
/.yarn-integrity
/.yarnrc
/.yarnrc.yml
/.eslintcache
/.prettierignore
/.stylelintcache
/.git

/yarn.lock
/pnpm-lock.yaml

first.md
package-lock.json

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
